@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.ps2-memory-card {
  @apply relative w-64 h-52 
         rounded-3xl 
         bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 
         shadow-2xl 
         border-4 border-gray-900 
         flex-col items-center justify-center
         text-white font-bold 
         overflow-scroll
         transition-transform duration-500 ease-in-out;
}
